
h1 {
  color: blue;
  display: block;
  margin:auto;
  text-align: center;

}

h2 {
  display: block;
  margin:auto;
  text-align: center;
  color: white;
  text-shadow: 2px 2px #ff0000;
}

img { 
  max-width: 15%;
  max-height: 15%;
  margin: auto;
  margin-top: 2%;
  display: block;
 }

 button {
  display:block;
  margin:auto;
 }

 #main-box {
  display:block;
  margin:auto;
  width: 50%;
 }